/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dispari {
    background-color: var(--contenitore1-color);
}

.pari {
    background-color: var(--contenitore2-color)
}
/* /Common */

 :root {
    --contenitore1-color: rgb(80 220 224);
    --contenitore2-color: rgb(49 97 224);
    --testo-color: rgb(21 103 109);
    ---img-color: rgb(203 71 226)
 }
/* */


/* debug */
.debug .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.debug .footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* /debug */


/* header */
.top {
    width: 1680px;
    height: 72px;
    background-color: var(--contenitore1-color);
}

.logo {
    width: 158px;
    height: 72px;
    background-color: var(---img-color);
}

.menu {
    width: 578px;
    height: 72px;
    background: var(--testo-color);
}

.accedi {
    width: 122px;
    height: 72px;
    background: var(--testo-color);
}

.presentazione {
    width: 798px;
    height: 324px;
    background-color: var(--testo-color);
}
/* /header */

/* main */


/* section1 */
.invito {
    width: 1680px;
    height: 742px;
}

.img {
    width: 685px;
    height: 510px;
    background-color: var(---img-color);
}

.text {
    width: 540px;
    height: 510px;
    background-color: var(--testo-color);
}
/* /section1 */

/* section2*/
.facile {
    width: 1680px;
    height: 850px;
}
/* /section2 */

/* section3*/
.fandom {
    width: 1680px;
    height: 760px;
}
/* /section3 */

/* section4*/
.avventura {
    width: 1680px;
    height: 1435px;
    flex-direction: column;
}

.affidabile {
    width: 1225px;
    height: 214px;
    background-color: var(--testo-color);
}

.tablet {
    width: 1225px;
    height: 645px;
    background-color: var(---img-color);
}
/* /section4 */

/* /main */

/* footer */
.footer-top {
    width: 1680px;
    height: 500px;
    background-color: rgb(35 39 42);
}

.element {
    background-color: var(--testo-color);
    border-style: dotted;
}

.il-tuo-posto {
    width: 345px;
    height: 405px;
}

.colonna {
    width: 196px;
    height: 405px;
}

.footer-bottom {
    width: 1680px;
    height: 165px;
    background-color: rgb(35 39 42);
}
/* /footer */
